@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  color: #000;
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button:hover {
  cursor: pointer;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
}

section {
  margin: 0 auto;
  padding: 5rem;
}

@media screen and (max-width: 768px) {
  section {
    padding: 3rem;
  }
}

a:hover {
  cursor: pointer;
  color: #125cb3;
}

.a-img__wrap {
  overflow: hidden;
}

.a-img__zoom {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.a-img__zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.l-header {
  width: 100%;
  height: 80px;
  font-size: 1.5rem;
  background: #fcfcfc;
  -webkit-box-shadow: 1px 2px 3px 3px rgba(177, 175, 175, 0.2);
          box-shadow: 1px 2px 3px 3px rgba(177, 175, 175, 0.2);
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  .l-header {
    display: block;
  }
}

.l-header__logo {
  vertical-align: middle;
  padding: 28.5px 0;
  padding-left: 40px;
}

.p-nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1140px) {
  .p-nav__wrap {
    display: block;
    z-index: 100;
    width: 100%;
    padding: 5% 8%;
    padding-bottom: 20%;
    font-size: 2.0rem;
    background: #fff;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
}

.p-nav__wrap.show .p-nav__item__link {
  position: relative;
}

.p-nav__wrap.show .p-nav__item__link::after {
  content: "";
  display: inline-block;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 5px;
  position: absolute;
  bottom: 5px;
  -webkit-transform: translate(10px);
          transform: translate(10px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p-nav__wrap.show .p-nav__item__link:hover::after {
  content: "";
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.p-nav__wrap.show .p-nav__item__link::after {
  bottom: 31px;
  height: 7px;
}

.p-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .p-nav__inner {
    display: block;
  }
}

.p-nav__item__link {
  display: block;
  padding: 28.5px 1em;
}

.p-nav__inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}

@media screen and (max-width: 1140px) {
  .p-nav__inp {
    display: block;
  }
}

.p-nav__inp__item {
  display: block;
  color: #fff;
  padding: 28.5px 1em;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 1140px) {
  .p-nav__inp__item {
    margin-top: 5%;
  }
}

.p-nav__online__store__link {
  width: 195px;
  height: 80px;
  background-color: #24a2b3;
}

@media screen and (max-width: 1140px) {
  .p-nav__online__store__link {
    width: auto;
  }
}

.p-nav__online__store__link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 26px;
  background-image: url(../images/icon-store.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.p-nav__contact__link {
  width: 175px;
  height: 80px;
  background-color: #aa8f7b;
}

@media screen and (max-width: 1140px) {
  .p-nav__contact__link {
    width: auto;
  }
}

.p-nav__contact__link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 19px;
  background-image: url(../images/icon-contact.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.c-hamburger__menu {
  position: absolute;
  right: 0;
}

.c-hamburger__menu:hover {
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .c-hamburger__menu {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.c-hamburger__menu.show {
  opacity: 1;
  -webkit-animation: toLeft .3s forwards ease;
          animation: toLeft .3s forwards ease;
}

@-webkit-keyframes toLeft {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toLeft {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1140px) {
  .c-hamburger__menu.close {
    opacity: 0;
    -webkit-animation: toRight .6s forwards ease;
            animation: toRight .6s forwards ease;
  }
}

@-webkit-keyframes toRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes toRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}

.c-hamburger__menu__btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #24a2b3;
  width: 64px;
  height: 80px;
  display: none;
}

@media screen and (max-width: 1140px) {
  .c-hamburger__menu__btn {
    display: block;
  }
}

.c-hamburger__menu__btn span {
  display: inline-block;
  width: 35px;
  height: 1px;
  background: #fff;
}

.c-hamburger__menu__btn.close .c-hamburger__menu__btn--top {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-hamburger__menu__btn.close .c-hamburger__menu__btn--middle {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-hamburger__menu__btn.close .c-hamburger__menu__btn--bottom {
  -webkit-transform: translateY(-7px) rotate(0deg);
          transform: translateY(-7px) rotate(0deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-hamburger__menu__btn.show .c-hamburger__menu__btn--top {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-hamburger__menu__btn.show .c-hamburger__menu__btn--middle {
  display: none;
}

.c-hamburger__menu__btn.show .c-hamburger__menu__btn--bottom {
  -webkit-transform: translateY(-12px) rotate(-45deg);
          transform: translateY(-12px) rotate(-45deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.l-footer {
  padding: 5rem;
  min-height: 354px;
}

@media screen and (max-width: 768px) {
  .l-footer {
    padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .l-footer {
    padding: 5rem;
  }
}

.p-footer {
  background-color: #292929;
  color: #fff;
}

.c-footer__wrap {
  max-width: 960px;
  height: 250px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .c-footer__wrap {
    display: block;
    height: 100%;
  }
}

@media screen and (max-width: 540px) {
  .c-footer__inner {
    text-align: center;
  }
}

.c-footer__logo {
  margin-bottom: 30px;
}

.c-footer__address {
  font-size: 1.4rem;
  margin-bottom: 30px;
  line-height: 2;
}

.c-footer__tel {
  font-size: 1.8rem;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 540px) {
  .c-footer__tel {
    font-size: 24px;
  }
}

.c-footer__item {
  margin-bottom: 25px;
}

@media screen and (max-width: 540px) {
  .c-footer__item {
    border-bottom: 1px solid #555555;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-left: 5%;
  }
}

.c-footer__item__link {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  position: relative;
}

@media screen and (max-width: 540px) {
  .c-footer__item__link::after {
    content: "";
    display: inline-block;
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 5px;
    position: absolute;
    bottom: 5px;
    -webkit-transform: translate(10px);
            transform: translate(10px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .c-footer__item__link:hover::after {
    content: "";
    -webkit-transform: translate(20px);
            transform: translate(20px);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .c-footer__item__link::after {
    background-image: url(../images/icon-arrow-white.svg);
    right: 10px;
  }
}

.c-footer__nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

@media screen and (max-width: 540px) {
  .c-footer__nav__wrap {
    display: block;
    width: auto;
    margin-top: 10%;
  }
}

.c-footer__nav__inner {
  margin-right: 66px;
}

@media screen and (max-width: 768px) {
  .c-footer__nav__inner {
    margin-right: 0;
    font-size: 14px;
  }
}

.p-ul__nest__item {
  margin-left: 1.4rem;
  margin-bottom: 25px;
}

.p-ul__nest__wrap {
  margin-top: 18px;
}

.c-copy {
  font-size: 1.2rem;
}

@media screen and (max-width: 540px) {
  .c-copy {
    text-align: center;
  }
}

.c-arrow__wrap {
  margin-top: 5rem;
}

.c-arrow__inner__link {
  display: inline-block;
  font-size: 1.5rem;
  position: relative;
}

.c-arrow__inner__link::after {
  content: "";
  display: inline-block;
  background-image: url(../images/icon-arrow.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 5px;
  position: absolute;
  bottom: 5px;
  -webkit-transform: translate(10px);
          transform: translate(10px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-arrow__inner__link:hover::after {
  content: "";
  -webkit-transform: translate(20px);
          transform: translate(20px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-btn__wrap {
  margin-top: auto;
  padding-top: 5rem;
}

@media screen and (max-width: 540px) {
  .c-btn__wrap {
    text-align: center;
  }
}

.c-btn__inner {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 220px;
  min-width: 220px;
  text-align: center;
  border: 1px solid #333333;
  background: #fcfcfc;
}

.c-btn__inner:hover {
  cursor: pointer;
  border: 1px solid #aa8f7b;
}

.c-btn__inner__link {
  display: block;
  font-size: 1.5rem;
  padding: 0 1em;
  line-height: 3;
  letter-spacing: 0.1em;
}

.c-btn__inner__link:hover {
  color: #fff;
}

.c-btn--center {
  text-align: center;
}

.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slide-bg::before {
  content: "";
  background: #aa8f7b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  z-index: -1;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
  transition: -webkit-transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
  transition: transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
  transition: transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99), -webkit-transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
}

.slide-bg:hover::before {
  content: "";
  -webkit-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
  transition: -webkit-transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
  transition: transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
  transition: transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99), -webkit-transform 0.45s cubic-bezier(0.46, 0.05, 0.02, 0.99);
}

.p-ttl--2 {
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.15em;
}

.p-ttl--3 {
  width: 100%;
  font-size: 2.4rem;
  margin-top: 3rem;
  letter-spacing: 0.05em;
}

.p-ttl__news::after {
  content: "NEWS";
  display: block;
  color: #aa8f7b;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 3;
}

.p-ttl__furniture::after {
  content: "FURNITURE";
  display: block;
  color: #aa8f7b;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 3;
}

.p-ttl__recruit::after {
  content: "RECRUIT";
  display: block;
  color: #aa8f7b;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 3;
  color: #fff;
}

.c-txt {
  font-size: 1.5rem;
  line-height: 2;
  padding-top: 2rem;
}

.p-top__wrap .p-top__img {
  width: auto;
  height: 900px;
}

.p-top__wrap .p-top__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.p-sab__txt {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#d2cecda3), to(#d2cecda3));
  background: linear-gradient(to right, #d2cecda3, #d2cecda3);
  font-size: 3.6rem;
  font-family: 'Noto Serif JP', serif;
  letter-spacing: 0.2em;
  position: absolute;
  top: 35%;
  margin-left: 104px;
  padding: 0 0.5em;
  z-index: 1;
}

@media screen and (max-width: 1140px) {
  .p-sab__txt {
    padding-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .p-sab__txt {
    padding-left: 50px;
    font-size: 2.6rem;
  }
}

@media screen and (max-width: 540px) {
  .p-sab__txt {
    padding-left: 20px;
    font-size: 2.4rem;
  }
}

.p-bg__color {
  width: 100%;
  min-height: 610px;
  background: -webkit-gradient(linear, left top, left bottom, to(#f7f6f5));
  background: linear-gradient(#f7f6f5 100%);
}

.p-section__news {
  max-width: 960px;
  width: 100%;
  padding: 5rem;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 3px 3px 0px #ccc;
          box-shadow: 0px 3px 3px 0px #ccc;
  position: relative;
  top: -100px;
}

@media screen and (max-width: 1140px) {
  .p-section__news {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .p-section__news {
    padding: 4rem 1rem 4rem;
  }
}

.c-news__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 540px) {
  .c-news__wrap {
    display: block;
  }
}

.c-news__inner {
  margin-top: 5rem;
  width: calc((100% - 50%) - 5rem);
}

@media screen and (max-width: 540px) {
  .c-news__inner {
    width: auto;
  }
}

.c-news__inner > .c-flex {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-news__date {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  margin-right: 10px;
}

.c-news__category__link {
  display: block;
  font-size: 1.2rem;
  padding: .2rem .5em;
  color: #fff;
  background: #24a2b3;
}

@media screen and (max-width: 768px) {
  .c-news__category__link {
    font-size: 1.1rem;
  }
}

.c-news__ttl {
  font-size: 1.5rem;
  line-height: 2;
  margin-top: 21px;
}

.p-section__furniture {
  max-width: 1280px;
}

.p-panel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

@media screen and (max-width: 540px) {
  .p-panel__inner {
    display: block;
  }
}

.p-panel__inner:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .p-panel__item {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .p-panel__item {
    width: auto;
  }
}

.p-panel__inner:nth-child(odd) .p-panel__item:nth-child(odd) {
  margin-right: 60px;
}

@media screen and (max-width: 540px) {
  .p-panel__inner:nth-child(odd) .p-panel__item:nth-child(odd) {
    margin-right: 0;
  }
}

.p-panel__inner:nth-child(even) .p-panel__item:nth-child(even) {
  margin-right: 60px;
}

@media screen and (max-width: 540px) {
  .p-panel__inner:nth-child(even) .p-panel__item:nth-child(even) {
    margin-right: 0;
  }
}

.p-panel__img {
  max-width: 610px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-panel__img {
    height: 370px;
  }
}

.p-panel__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 70px;
  margin-top: 80px;
}

@media screen and (max-width: 1140px) {
  .p-card__wrap {
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 40px;
  }
}

.p-card__wrap__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.store {
  margin: 0 auto;
  max-width: 960px;
  padding: 7rem 0;
  padding-bottom: 12rem;
  font-family: '小塚ゴシック Pr6N,sans-serif';
}

@media screen and (max-width: 1140px) {
  .store {
    padding: 7rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .store {
    padding: 3rem;
    padding-bottom: 10rem;
  }
}

.store .p-ttl--3 {
  font-size: 2.0rem;
}

.online__store__img {
  -o-object-position: 20% 100%;
     object-position: 20% 100%;
}

.furniture__color__img {
  -o-object-position: 0 0;
     object-position: 0 0;
}

.p-section__recruit {
  background-image: url(../images/img-recruit-01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 430px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.p-ttl__recruit {
  color: #fff;
}

.p-txt__recruit {
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
}

.p-btn__wrap__recruit {
  text-align: center;
}

.p-btn__inner__recruit {
  background: transparent;
  border: 2px solid #fff;
}

.p-btn__inner__link__recruit {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */