.p-top__wrap {
  .p-top__img {
    width: auto;
    height: 900px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.p-sab__txt {
  color: #fff;
  background: linear-gradient(to right, #d2cecda3, #d2cecda3);
  font-size: 3.6rem;
  font-family: 'Noto Serif JP', serif;
  @include letterSpacing(0.20em);
  position: absolute;
  top: 35%;
  margin-left: 104px;
  padding: 0 0.5em;
  z-index: 1;

  @include mq($pcSize) {
    padding-left: 50px;
  }

  @include mq($tabSize) {
    padding-left: 50px;
    font-size: 2.6rem;
  }

  @include mq($spSize) {
    padding-left: 20px;
    font-size: 2.4rem;
  }
}